In [3]:
import numpy as nu
import pandas as pd
import matplotlib.pyplot as plt

travel_data = pd.read_csv('C:/Users/mingzzang/Desktop/20210622/Super-Project-20210622T000508Z-001/Super-Project/dataset/광주여행지 분류하기 - gwangju.csv')

# 원본데이터 저장
travel_data1 = travel_data.copy()

travel_data

     놀거리평점  볼거리평점  먹거리평점  살거리평점 추천 여행지
0      5.1    3.5    1.4    0.2   펭귄마을
1      4.9    3.0    1.4    0.2   펭귄마을
2      4.7    3.2    1.3    0.2   펭귄마을
3      4.6    3.1    1.5    0.2   펭귄마을
4      5.0    3.6    1.4    0.2   펭귄마을
..     ...    ...    ...    ...    ...
145    6.7    3.0    5.2    2.3    무등산
146    6.3    2.5    5.0    1.9    무등산
147    6.5    3.0    5.2    2.0    무등산
148    6.2    3.4    5.4    2.3    무등산
149    5.9    3.0    5.1    1.8    무등산

[150 rows x 5 columns]

In [4]:
travel_data.columns

Index(['놀거리평점', '볼거리평점', '먹거리평점', '살거리평점', '추천 여행지'], dtype='object')

In [5]:
travel_data[travel_data.columns.tolist()[-1]]

0      펭귄마을
1      펭귄마을
2      펭귄마을
3      펭귄마을
4      펭귄마을
       ...
145     무등산
146     무등산
147     무등산
148     무등산
149     무등산
Name: 추천 여행지, Length: 150, dtype: object

In [6]:
travel_data.columns.tolist()[0:]

['놀거리평점', '볼거리평점', '먹거리평점', '살거리평점', '추천 여행지']

In [15]:
colum1 = travel_data[travel_data.columns.tolist()[1]]
colum1.values

array([3.5, 3. , 3.2, 3.1, 3.6, 3.9, 3.4, 3.4, 2.9, 3.1, 3.7, 3.4, 3. ,
       3. , 4. , 4.4, 3.9, 3.5, 3.8, 3.8, 3.4, 3.7, 3.6, 3.3, 3.4, 3. ,
       3.4, 3.5, 3.4, 3.2, 3.1, 3.4, 4.1, 4.2, 3.1, 3.2, 3.5, 3.1, 3. ,
       3.4, 3.5, 2.3, 3.2, 3.5, 3.8, 3. , 3.8, 3.2, 3.7, 3.3, 3.2, 3.2,
       3.1, 2.3, 2.8, 2.8, 3.3, 2.4, 2.9, 2.7, 2. , 3. , 2.2, 2.9, 2.9,
       3.1, 3. , 2.7, 2.2, 2.5, 3.2, 2.8, 2.5, 2.8, 2.9, 3. , 2.8, 3. ,
       2.9, 2.6, 2.4, 2.4, 2.7, 2.7, 3. , 3.4, 3.1, 2.3, 3. , 2.5, 2.6,
       3. , 2.6, 2.3, 2.7, 3. , 2.9, 2.9, 2.5, 2.8, 3.3, 2.7, 3. , 2.9,
       3. , 3. , 2.5, 2.9, 2.5, 3.6, 3.2, 2.7, 3. , 2.5, 2.8, 3.2, 3. ,
       3.8, 2.6, 2.2, 3.2, 2.8, 2.8, 2.7, 3.3, 3.2, 2.8, 3. , 2.8, 3. ,
       2.8, 3.8, 2.8, 2.8, 2.6, 3. , 3.4, 3.1, 3. , 3.1, 3.1, 3.1, 2.7,
       3.2, 3.3, 3. , 2.5, 3. , 3.4, 3. ])