In [68]:
import pandas as pd
import numpy as np

# 임신	포도당	혈압	피부 두께	인슐린	BMI	당뇨계열 병	나이
# 0	6	148	72	35	0	33.6	0.627	50
# 내껄 넣어주고 


df = pd.read_csv('C:/Users/mingzzang/Desktop/PART17-20210621T020629Z-001/PART17/dataset/diabetes.csv', encoding='EUCKR')
df

     임신  포도당  혈압  피부 두께  인슐린   BMI  당뇨계열 병  나이  결과
0     6  148  72     35    0  33.6   0.627  50   1
1     1   85  66     29    0  26.6   0.351  31   0
2     8  183  64      0    0  23.3   0.672  32   1
3     1   89  66     23   94  28.1   0.167  21   0
4     0  137  40     35  168  43.1   2.288  33   1
..   ..  ...  ..    ...  ...   ...     ...  ..  ..
763  10  101  76     48  180  32.9   0.171  63   0
764   2  122  70     27    0  36.8   0.340  27   0
765   5  121  72     23  112  26.2   0.245  30   0
766   1  126  60      0    0  30.1   0.349  47   1
767   1   93  70     31    0  30.4   0.315  23   0

[768 rows x 9 columns]

In [69]:
my_Info = list(input().split(', '))
print(my_Info)
my_Info2 = []
for i in range(1, len( my_Info)):
    while True:
        try:
            my_Info[i] = int(my_Info[i])
            break
        except ValueError:
            my_Info[i] = float(my_Info[i])
            break
    # print(type(my_Info[i]))


# 이상민, 0, 117, 100, 60, 45, 26, 0.3221, 35
# 없는 결과값을 넣어야 해
your_info_list = my_Info + [None]
print(your_info_list)
for i in range(len(your_info_list)):
    print(type(your_info_list[i]))

['이상민', '0', '117', '100', '60', '45', '26', '0.3221', '35']
['이상민', 0, 117, 100, 60, 45, 26, 0.3221, 35, None]
<class 'str'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>
<class 'int'>
<class 'NoneType'>

In [76]:
# 내꺼 넣어야지
# list_series = pd.Series(data_list, index=["라면", "김치", "떡볶이", "마라탕", "볶음밥", "짬뽕"])
# append로 하면 된다. 그냥 리스트에 추가하듯이 하면 되네
# 내껄 넣고 싶으면 이렇게 해야함
# df = df.append(my_Info, index)
# new_row = pd.Series(data={'name':'Geo', 'physics':87, 'chemistry':92}, name='x')
# #append row to the dataframe
# df_marks = df_marks.append(new_row, ignore_index=False)
df_names = df.columns.to_list()
print(df_names)
df_rows = len(df)
print(df_rows)
# print(len(my_Info[1:]))
new_row = pd.Series(data=your_info_list[1:], index=df_names, name=df_rows)
df_marks = df.append(new_row, ignore_index=False)
for i in df_names:
    print(type(df_marks.loc[765][i]))
    print(df_marks.loc[765][i])


# df_marks

['임신', '포도당', '혈압', '피부 두께', '인슐린', 'BMI', '당뇨계열 병', '나이', '결과']
768
<class 'numpy.float64'>
5.0
<class 'numpy.float64'>
121.0
<class 'numpy.float64'>
72.0
<class 'numpy.float64'>
23.0
<class 'numpy.float64'>
112.0
<class 'numpy.float64'>
26.2
<class 'numpy.float64'>
0.245
<class 'numpy.float64'>
30.0
<class 'numpy.float64'>
0.0

In [78]:
# 내꺼 넣은 걸 결과 값 None을 없애고
# # Nan을 없애주고
# 일단 Nan값이 몇개인지 확인해보자
print(df_marks.isnull().sum()) # 결과에 하나 있는거 보이네 이거를 중앙값으로 대체해주자
df_marks['결과'].fillna( df_marks['결과'].median(axis=0), inplace=True )
df_marks

임신        0
포도당       0
혈압        0
피부 두께     0
인슐린       0
BMI       0
당뇨계열 병    0
나이        0
결과        0
dtype: int64

      임신    포도당     혈압  피부 두께    인슐린   BMI  당뇨계열 병    나이   결과
0    6.0  148.0   72.0   35.0    0.0  33.6  0.6270  50.0  1.0
1    1.0   85.0   66.0   29.0    0.0  26.6  0.3510  31.0  0.0
2    8.0  183.0   64.0    0.0    0.0  23.3  0.6720  32.0  1.0
3    1.0   89.0   66.0   23.0   94.0  28.1  0.1670  21.0  0.0
4    0.0  137.0   40.0   35.0  168.0  43.1  2.2880  33.0  1.0
..   ...    ...    ...    ...    ...   ...     ...   ...  ...
764  2.0  122.0   70.0   27.0    0.0  36.8  0.3400  27.0  0.0
765  5.0  121.0   72.0   23.0  112.0  26.2  0.2450  30.0  0.0
766  1.0  126.0   60.0    0.0    0.0  30.1  0.3490  47.0  1.0
767  1.0   93.0   70.0   31.0    0.0  30.4  0.3150  23.0  0.0
768  0.0  117.0  100.0   60.0   45.0  26.0  0.3221  35.0  0.0

[769 rows x 9 columns]

In [79]:
# 중복된 것을 없애주는 작업을 하자
drop_duplicate_df = df_marks.drop_duplicates()
drop_duplicate_df

      임신    포도당     혈압  피부 두께    인슐린   BMI  당뇨계열 병    나이   결과
0    6.0  148.0   72.0   35.0    0.0  33.6  0.6270  50.0  1.0
1    1.0   85.0   66.0   29.0    0.0  26.6  0.3510  31.0  0.0
2    8.0  183.0   64.0    0.0    0.0  23.3  0.6720  32.0  1.0
3    1.0   89.0   66.0   23.0   94.0  28.1  0.1670  21.0  0.0
4    0.0  137.0   40.0   35.0  168.0  43.1  2.2880  33.0  1.0
..   ...    ...    ...    ...    ...   ...     ...   ...  ...
764  2.0  122.0   70.0   27.0    0.0  36.8  0.3400  27.0  0.0
765  5.0  121.0   72.0   23.0  112.0  26.2  0.2450  30.0  0.0
766  1.0  126.0   60.0    0.0    0.0  30.1  0.3490  47.0  1.0
767  1.0   93.0   70.0   31.0    0.0  30.4  0.3150  23.0  0.0
768  0.0  117.0  100.0   60.0   45.0  26.0  0.3221  35.0  0.0

[769 rows x 9 columns]

In [80]:
# 이제 결과값을 내뱉어보자
print( drop_duplicate_df.mean() )
print( "-----------------------------------------" )
print( drop_duplicate_df.median() ) #중앙값
print( "-----------------------------------------" )
print( drop_duplicate_df.max() )
print( "-----------------------------------------" )
print( drop_duplicate_df.min() )
print( "-----------------------------------------" )
print( drop_duplicate_df.std() ) #표준편차
print( "-----------------------------------------" )
print( drop_duplicate_df.corr() ) # 48:10초 쯤에 있을 수 있어

임신          3.840052
포도당       120.889467
혈압         69.145644
피부 두께      20.587776
인슐린        79.754226
BMI        31.984785
당뇨계열 병      0.471682
나이         33.243173
결과          0.348505
dtype: float64
-----------------------------------------
임신          3.000
포도당       117.000
혈압         72.000
피부 두께      23.000
인슐린        32.000
BMI        32.000
당뇨계열 병      0.371
나이         29.000
결과          0.000
dtype: float64
-----------------------------------------
임신         17.00
포도당       199.00
혈압        122.00
피부 두께      99.00
인슐린       846.00
BMI        67.10
당뇨계열 병      2.42
나이         81.00
결과          1.00
dtype: float64
-----------------------------------------
임신         0.000
포도당        0.000
혈압         0.000
피부 두께      0.000
인슐린        0.000
BMI        0.000
당뇨계열 병     0.078
나이        21.000
결과         0.000
dtype: float64
-----------------------------------------
임신          3.370237
포도당        31.952105
혈압         19.375258
피부 두께      16.005221
인슐린       115.175786
BMI         7.881989
당뇨계열 병      0.331157
나이         11.752744
결과          0.476807
dtype: float64
-----------------------------------------
              임신       포도당        혈압     피부 두께       인슐린       BMI    당뇨계열 병  \
임신      1.000000  0.129529  0.138563 -0.084937 -0.073020  0.018789 -0.032819
포도당     0.129529  1.000000  0.152083  0.056709  0.331382  0.221106  0.137389
혈압      0.138563  0.152083  1.000000  0.211320  0.088154  0.279657  0.040253
피부 두께  -0.084937  0.056709  0.211320  1.000000  0.434058  0.388434  0.181725
인슐린    -0.073020  0.331382  0.088154  0.434058  1.000000  0.198072  0.185213
BMI     0.018789  0.221106  0.279657  0.388434  0.198072  1.000000  0.141023
당뇨계열 병 -0.032819  0.137389  0.040253  0.181725  0.185213  0.141023  1.000000
나이      0.543650  0.263484  0.239439 -0.113037 -0.042219  0.036080  0.033468
결과      0.222719  0.466530  0.063421  0.072084  0.130782  0.293206  0.174191

              나이        결과
임신      0.543650  0.222719
포도당     0.263484  0.466530
혈압      0.239439  0.063421
피부 두께  -0.113037  0.072084
인슐린    -0.042219  0.130782
BMI     0.036080  0.293206
당뇨계열 병  0.033468  0.174191
나이      1.000000  0.238127
결과      0.238127  1.000000

In [111]:
# 사분위 값을 가져와야 하잖아
# quantile(0.25) => 25% 로 생각하면서 작고 크고로 4분위값을 나타낼 수 있을거 같아
df_rows = len(df)
# print(df_rows)
df_cols = len(df.columns)
# print(df_cols)
df_names = df.columns.to_list()
df = drop_duplicate_df
# print(type(df.loc[768]['당뇨계열 병']))
# medical_certificate = []
# print(type(int(my_Info[1])))
print(df[df_names[1]].quantile(0.25))
df
# index, 결과 colum 제외
medical_certificate = []

for i in range( df_cols-1 ) :
    if your_info_list[i+1] <= df[df_names[i]].quantile(0.25) : 
      medical_certificate.append( "{}님의 {}항목의 경우, 전체 조사 인원 25% 이하에 속하고 있습니다.".format(your_info_list[0], df_names[i]) )
    elif your_info_list[i+1] > df[df_names[i]].quantile(0.25) and your_info_list[i+1] <= df[df_names[i]].quantile(0.50) : 
      medical_certificate.append( "{}님의 {}항목의 경우, 전체 조사 인원 25% 초과 50% 이하에 속하고 있습니다.".format(your_info_list[0], df_names[i]) )
    elif your_info_list[i+1] > df[df_names[i]].quantile(0.50) and your_info_list[i+1] <= df[df_names[i]].quantile(0.75) : 
      medical_certificate.append( "{}님의 {}항목의 경우, 전체 조사 인원 50% 초과 75% 이하에 속하고 있습니다.".format(your_info_list[0], df_names[i]) )
    elif your_info_list[i+1] > df[df_names[i]].quantile(0.75) and your_info_list[i+1] <= df[df_names[i]].quantile(1) : 
      medical_certificate.append( "{}님의 {}항목의 경우, 전체 조사 인원 75% 초과 100% 이하에 속하고 있습니다.".format(your_info_list[0], df_names[i]) )
    else :
      medical_certificate.append( "{}님의 {}항목의 경우, 4분위 수에서 확인되지 않을 정도로 낮거나 높습니다.".format(your_info_list[0], df_names[i]) )
print(medical_certificate)

99.0
['이상민님의 임신항목의 경우, 전체 조사 인원 25% 이하에 속하고 있습니다.', '이상민님의 포도당항목의 경우, 전체 조사 인원 25% 초과 50% 이하에 속하고 있습니다.', '이상민님의 혈압항목의 경우, 전체 조사 인원 75% 초과 100% 이하에 속하고 있습니다.', '이상민님의 피부 두께항목의 경우, 전체 조사 인원 75% 초과 100% 이하에 속하고 있습니다.', '이상민님의 인슐린항목의 경우, 전체 조사 인원 50% 초과 75% 이하에 속하고 있습니다.', '이상민님의 BMI항목의 경우, 전체 조사 인원 25% 이하에 속하고 있습니다.', '이상민님의 당뇨계열 병항목의 경우, 전체 조사 인원 25% 초과 50% 이하에 속하고 있습니다.', '이상민님의 나이항목의 경우, 전체 조사 인원 50% 초과 75% 이하에 속하고 있습니다.']