In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('C:/Users/mingzzang/Desktop/PART17-20210621T020629Z-001/PART17/dataset/diabetes.csv', encoding='EUCKR')

In [2]:
df

     임신  포도당  혈압  피부 두께  인슐린   BMI  당뇨계열 병  나이  결과
0     6  148  72     35    0  33.6   0.627  50   1
1     1   85  66     29    0  26.6   0.351  31   0
2     8  183  64      0    0  23.3   0.672  32   1
3     1   89  66     23   94  28.1   0.167  21   0
4     0  137  40     35  168  43.1   2.288  33   1
..   ..  ...  ..    ...  ...   ...     ...  ..  ..
763  10  101  76     48  180  32.9   0.171  63   0
764   2  122  70     27    0  36.8   0.340  27   0
765   5  121  72     23  112  26.2   0.245  30   0
766   1  126  60      0    0  30.1   0.349  47   1
767   1   93  70     31    0  30.4   0.315  23   0

[768 rows x 9 columns]

In [12]:
df_rows = len(df)
df_cols = len(df.columns)
df_names = df.columns.to_list()
print(df_rows)
print(df_cols)
print(df_names)

768
9
['임신', '포도당', '혈압', '피부 두께', '인슐린', 'BMI', '당뇨계열 병', '나이', '결과']

In [16]:
percents = float(input())
percent = percents / 100
train_x = df[df_names[0:-1]].loc[0:df_rows]
train_y = df[df_names[-1]].loc[0:df_rows * percent]
train_y

0     1
1     0
2     1
3     0
4     1
5     0
6     1
7     0
8     1
9     1
10    0
11    1
12    0
13    1
14    1
15    1
16    1
17    1
18    0
19    1
20    0
21    0
22    1
23    1
24    1
25    1
26    1
27    0
28    0
29    0
30    0
31    1
32    0
33    0
34    0
35    0
36    0
37    1
38    1
Name: 결과, dtype: int64