In [24]:
from myModule.member import Commerce6_login
test = Commerce6_login('qwe', 'qwe')
test.login_doit()

'login_complete'

In [9]:
import pandas as pd
login_df = pd.read_csv("C:/Users/mingzzang/Desktop/idPw.csv")
login_df['id'].values
if 'qwe' in login_df['id'].values:
    print('잇다')
else:
    print('없다')

잇다

In [27]:
from myModule.member import Commerce6_login
test = Commerce6_login()
test.login_guest()

TypeError: __init__() missing 2 required positional arguments: 'id' and 'pw'

In [15]:
import pandas as pd
import numpy as np
info_table = ['id',	'pw',	'nickname',	'location']
info_table2 = ['id2',	'pw2',	'nickname2',	'location2']

return_table_df = pd.DataFrame( np.array(info_table).reshape(1, -1), columns=info_table2 )
return_table_df

  id2 pw2 nickname2 location2
0  id  pw  nickname  location