In [4]:
import pandas as pd
# 먼저 파일을 불러오자
lotto_data = pd.read_csv('C:/Users/mingzzang/Desktop/20210622/Super-Project-20210622T000508Z-001/Super-Project/dataset/lotto - data.csv')

lotto_data

      회차         추첨일  당첨번호1  당첨번호2  당첨번호3  당첨번호4  당첨번호5  당첨번호6  보너스
0    968  2021.06.19      2      5     12     14     24     39   33
1    967  2021.06.12      1      6     13     37     38     40    9
2    966  2021.06.05      1     21     25     29     34     37   36
3    965  2021.05.29      2     13     25     28     29     36   34
4    964  2021.05.22      6     21     36     38     39     43   30
..   ...         ...    ...    ...    ...    ...    ...    ...  ...
963    5  2003.01.04     16     24     29     40     41     42    3
964    4  2002.12.28     14     27     30     31     40     42    2
965    3  2002.12.21     11     16     19     21     27     31   30
966    2  2002.12.14      9     13     21     25     32     42    2
967    1  2002.12.07     10     23     29     33     37     40   16

[968 rows x 9 columns]

In [5]:
# 날짜를 처리하라고 하는데
# 년 월 일을 나눠서 보자
lotto_data['추첨일 나누기'] = pd.to_datetime(lotto_data['추첨일'])
lotto_data

      회차         추첨일  당첨번호1  당첨번호2  당첨번호3  당첨번호4  당첨번호5  당첨번호6  보너스    추첨일 나누기
0    968  2021.06.19      2      5     12     14     24     39   33 2021-06-19
1    967  2021.06.12      1      6     13     37     38     40    9 2021-06-12
2    966  2021.06.05      1     21     25     29     34     37   36 2021-06-05
3    965  2021.05.29      2     13     25     28     29     36   34 2021-05-29
4    964  2021.05.22      6     21     36     38     39     43   30 2021-05-22
..   ...         ...    ...    ...    ...    ...    ...    ...  ...        ...
963    5  2003.01.04     16     24     29     40     41     42    3 2003-01-04
964    4  2002.12.28     14     27     30     31     40     42    2 2002-12-28
965    3  2002.12.21     11     16     19     21     27     31   30 2002-12-21
966    2  2002.12.14      9     13     21     25     32     42    2 2002-12-14
967    1  2002.12.07     10     23     29     33     37     40   16 2002-12-07

[968 rows x 10 columns]

In [6]:
# 년월일 데이터로 나누자
lotto_data['추첨일 년'] = pd.to_datetime(lotto_data['추첨일']).dt.year
lotto_data['추첨일 월'] = pd.to_datetime(lotto_data['추첨일']).dt.month
lotto_data['추첨일 일'] = pd.to_datetime(lotto_data['추첨일']).dt.day
# 기존 추첨일이랑 추첨일 나누기 없애자
del lotto_data['추첨일 나누기'], lotto_data['추첨일']
lotto_data

      회차  당첨번호1  당첨번호2  당첨번호3  당첨번호4  당첨번호5  당첨번호6  보너스  추첨일 년  추첨일 월  추첨일 일
0    968      2      5     12     14     24     39   33   2021      6     19
1    967      1      6     13     37     38     40    9   2021      6     12
2    966      1     21     25     29     34     37   36   2021      6      5
3    965      2     13     25     28     29     36   34   2021      5     29
4    964      6     21     36     38     39     43   30   2021      5     22
..   ...    ...    ...    ...    ...    ...    ...  ...    ...    ...    ...
963    5     16     24     29     40     41     42    3   2003      1      4
964    4     14     27     30     31     40     42    2   2002     12     28
965    3     11     16     19     21     27     31   30   2002     12     21
966    2      9     13     21     25     32     42    2   2002     12     14
967    1     10     23     29     33     37     40   16   2002     12      7

[968 rows x 11 columns]

In [ ]:
# 그 다음은 그래프로 그리고 보자는 건데 이건 도통 모르겠다